How To Verify Employee Forms And Data
-----
- [Login to Portal](../../office/forgot-password.html "Login").
- Navigate To **My Office** -> **Employees** -> **Search Employee** -> **Click On View**
- Go to Employee Tree Panel and verify the details

Search Employee:
------
![alt text](../../images/onboarding/search-emp.png "Employee Onboarding")

Verify Forms And Data:
------
![alt text](../../images/onboarding/verify-emp-forms-docs.png "Employee Onboarding")

To View ACH Form:
-----
![alt text](../../images/onboarding/achform-screen.png "ACH Form Panel")

Print for ACH Form:
-----

![alt text](../../images/onboarding/achform.png "ACH Form Print")

To view Joining Form:
-----
![alt text](../../images/onboarding/joining-form.png "Joining Form")

To update Roles and Responsibilities:
-----
![alt text](../../images/onboarding/joining-form-update.png "Joining Form")

Roles and Resposibilities print:
-----
![alt text](../../images/onboarding/joining-form-roles-print.png "Joining Form")

Joining Form Print:
-----
![alt text](../../images/onboarding/joining-form-print.png "Joining form")