How To Verify Employee Forms And Data
-----
- [Login to Portal](../../office/forgot-password.html "Login").
- Navigate To **My Office** -> **Employees** -> **Search Employee** -> **Click On View**
- Go to Employee Tree Panel and verify the details

Search Employee:
------
![alt text](../../images/onboarding/search-emp.png "Employee Onboarding")

Verify Forms And Data:
------
![alt text](../../images/onboarding/verify-emp-forms-docs.png "Employee Onboarding")

