<!--

    System Soft Technologies Copyright (C) 2013 ayalamanchili@sstech.mobi

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-2.5.xsd
        http://www.springframework.org/schema/task 
        http://www.springframework.org/schema/task/spring-task-3.0.xsd ">

    <context:annotation-config />
    <context:component-scan base-package="info.chili, info.yalamanchili.office" />
    <!-- for Async and Scheduling support-->
    <task:annotation-driven/>
  
    <bean id="tika" class="org.apache.tika.Tika"/>
    <bean id="mapper" class="org.dozer.DozerBeanMapper"/>
    <bean id="securityValidator" class="org.owasp.esapi.reference.DefaultValidator"/>
    <util:properties id="officeProperties" location="classpath:office-service.properties" /> 
    
    <bean id="officeMessages"
              class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename">
            <value>messages/office-messages</value>
        </property>
    </bean> 

</beans>