<?xml version="1.0" encoding="UTF-8"?>
<!--

    System Soft Technologies Copyright (C) 2013 ayalamanchili@sstech.mobi

-->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:securityContext.xml,classpath:applicationContext.xml,classpath:jmxContext.xml,classpath:aopContext.xml;classpath:persistenceContext.xml;classpath:templateContext.xml;classpath:emailContext.xml;classpath:commonsContext.xml;classpath:activitiContext.xml;classpath:cacheContext.xml;classpath:mongoContext.xml;classpath:cjmsContext.xml;classpath:crestContext.xml;classpath:cidentityContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!-- to support request scoped components -->
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>
            org.springframework.security.web.session.HttpSessionEventPublisher
        </listener-class>
    </listener>
    <!-- Monitor filter -->
    <filter>
        <filter-name>monitoring</filter-name>
        <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
        <init-param>
            <param-name>disabled</param-name>
            <param-value>${monitoring.disabled}</param-value>
        </init-param>
        <init-param>
            <param-name>storage-directory</param-name>
            <param-value>logs/monitoring</param-value>
        </init-param>
        <init-param>
            <param-name>url-exclude-pattern</param-name>
            <param-value>(/images/.*|/js/.*|/styles/.*)</param-value>
        </init-param>
        <init-param>
            <param-name>admin-emails</param-name>
            <param-value>yphanikumar@gmail.com</param-value>
        </init-param>
        <init-param>
            <param-name>mail-session</param-name>
            <param-value>MailSession</param-value>
        </init-param>
        <init-param>
            <param-name>mail-periods</param-name>
            <param-value>week,month</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>monitoring</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
 
    <listener>
        <listener-class>net.bull.javamelody.SessionListener</listener-class>
    </listener>
    <!-- Spring security filter -->
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Jersy Servlet -->

    <servlet>
        <servlet-name>jersey-serlvet</servlet-name>
        <servlet-class>
            com.sun.jersey.spi.spring.container.servlet.SpringServlet
        </servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>info.yalamanchili.office.jrs,info.chili.analytics.jrs,info.yalamanchili.office.integration.jrs,info.chili.commons.jrs</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>jersey-serlvet</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>


</web-app>