<?xml version="1.0" encoding="UTF-8"?>
<!--

    System Soft Technologies Copyright (C) 2013 ayalamanchili@sstech.mobi

-->
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <!-- Reroute google rpc calls through a spring dispatcherservlet -->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/applicationContext.xml</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/office/rpc/*</url-pattern>
    </servlet-mapping>
    
    <!--Cache control filter-->
    <filter>
        <filter-name>gwtCacheControlFilter</filter-name>
        <filter-class>info.chili.gwt.server.filter.GWTCacheControlFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>gwtCacheControlFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
   
        
    <!-- Image/File Upload -->
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>info.yalamanchili.office.server.FileServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/office/rpc/fileService</url-pattern>
    </servlet-mapping>
    <!-- Image/File Upload -->
    <servlet>
        <servlet-name>FileConverterServlet</servlet-name>
        <servlet-class>info.yalamanchili.office.server.FileConverterResource</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileConverterServlet</servlet-name>
        <url-pattern>/office/rpc/fileConverterService</url-pattern>
    </servlet-mapping>    
    <!--Session timeout min -->
    <session-config>
        <session-timeout>600</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>office.html</welcome-file>
    </welcome-file-list>
</web-app>