/* an individual tab*/
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    /*background: url("../icons/tab_100.png");*/
    background-color: #88ACE0;
    width: 100px;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 12pt;
    font:Arial;
}

.tabPanel {
    height: 100%;
    cursor: pointer;
}
.profileHome{
    width: 100%;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 14pt;
    font-weight: bold;
    background-color: #EFFBFB;
}

/* an element nested in each tab (useful for styling)*/
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabInner {

}

.y-gwt-PagingBar {
    font-weight: bold;
    font-size: 10pt;
    background-color: #FAFAFA;
    width: 100%;
}

.y-gwt-TableHeader {
    background-color: #F2F2F2;
    font-weight: bold;
    font-size: 11pt
}

.y-gwt-Table {
    font-size: 10pt;
    font-family: helvetica, arial ;
    background-color: #EFFBFB;
    width: 100%;
}

.y-gwt-ReadAllPanel {
    width: 100%;
}

.y-gwt-TablePanel {
    width: 100%;
}

.gwt-Tree .gwt-TreeItem-selected {
    font-weight: bold;
    background-color: #D9D9D9;
}
.entityMenuBar {
    width: 100%;
    border: 2px solid #88ACE0;
}
.gwt-MenuItem {
    cursor: pointer;
    border: 1px solid #999;
    background-color: #eee;
    padding: 2px 10px;
}

.gwt-MenuItem-selected {
    background-color: #fff;
}


.genericPopup{
    background-color: #E5ECFF;
}
.socialSidePanel{

}
/*post css start*/
.readRepliesPanel{
    border: 1px solid #999;
    width: 100%;
}
.replyPostWidget{
    width:100%;
}
.postRichTextBox{
    width: 100%;
}
.readPostImagePanel{
    float:left;
    width: 4%;
}
.postStatusPanel{
    width:100%;
    font-size: 12px;
}
.postMainPanel{
    float:right;
    width: 96%;
}
.createPostTextArea{
    width: 100%;
    height: 20%;
}
.postAttachmentsPanel{

}
/*post css end*/
/*image field css start*/
.imageField-Image{
    border: 1px solid #4C3C1B;
    padding: 5px;
    width: 300px;
    background-color: #EFEECB;
}
/*image field css end*/
.y-gwt-treePanelComposite-Node
{
    cursor: pointer;
    font-family: Arial;
    font-size: 11pt;
    font-weight: 100;
}

.y-gwt-treePanelComposite-RootNode
{
    cursor: default;
    font-family: Arial;
    font-size: 13pt;
    font-weight: 300;
}

body{
    font-family:Arial;
    font-size: 11pt;
    cursor: default;
}