/* an individual tab*/
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    /*background: url("../icons/tab_100.png");*/
    background: url("../images/Tab_button.png");
    /*    background-color: #919191;*/

    width: 106px;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 12pt;
    font-family: Tahoma;
    color: #000000;

}

.tabPanel {
    height: 100%;

}
.y-gwt-AbstractStatusPanel-LogoLink {
    width: 100%;
    padding-bottom: 10px;
    padding-left: 8px;
}
.profileHome{
    width: 100%;
    background-color: #FFFFFF;

}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    margin-left: 3px;
    margin-right: 3px;
    font-size: 12pt;
    font-weight: 500;
    color: #FFFFFF;
    /*    background-color: #f7f7f7;*/
    background: url("../images/tab_button_click.png");
}

/* an element nested in each tab (useful for styling)*/
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabInner {

    /*margin-top:3px;*/ 
    margin-bottom:3px; 
}
.gwt-DisclosurePanel .header {
    color: d96230;
}
.gwt-DisclosurePanel a {
    color: #054c78;
}
.y-gwt-PagingBar {
    font-weight: bold;
    font-size: 10pt;
    color: #c31f41;
    /*background-color: #919191;*/
    background: url("../images/Indexbar.png");
    width: 100%;
    height: 34px;

}

.y-gwt-TableHeader {
    background-color: #dae6fe;
    font-weight: bold;
    font-size: 11pt;
    color: #054c78;
    text-align:center;  
}

.y-gwt-Table {
    font-size: 10pt;
    font-family: helvetica, arial ;
    background-color: #f7f7f7;
    width: 100%;
    text-align:center;

}
/*Text insiise the tabel START*/
.readAllCompositeCAptionPanel{

}
/*Text insiise the tabel END*/
.readAllCompositeCAptionPanel legend {
    font-weight: bold;
    color:#d54937;
    font-style: italic;
}
legend {
    color: #c31f41;

}

.y-gwt-ReadAllPanel {
    width: 100%;
    color:Green;
}

.y-gwt-TablePanel {
    width: 100%;
    color:#595959;
}

.gwt-Tree .gwt-TreeItem-selected {
    font-weight: bold;
    background-color: #D9D9D9;
}
.entityMenuBar {
    width: 100%;
    border: 1px;
    border-color: #3e3e3e;
    background: url("../images/menubar_bg.png");

    /*background-color: #ededed;*/
}
.gwt-MenuItem {
    cursor: pointer;
    border: 1px solid;
    border-color: #bc033d;
    background-color: #DAE6FE;
    padding: 3px 34px;
    border-radius: 5px;
}

.gwt-MenuItem-selected {
    background-color: #FFFFFF;
    font-size: 12pt;
    /*    color:#FFFFFF;*/
}


.genericPopup{
    background-color: #ededed;
    border: 3px solid #919191;
    padding: 3px;
}
.socialSidePanel{
    /*    background-color: #ededed;*/
    border-color: #919191;
    border-width:1px;

}
/*post css start*/
.readRepliesPanel{
    border: 1px solid #3e3e3e;
    width: 100%;
    background-color: #ffffff;

}
.replyPostWidget{
    width:100%;
    font-family: Tahoma;
}
.postRichTextBox{
    width: 100%;
    border-color: #919191;
    border-width: 1px;
    background-color: #f7f7f7;
    font-family: Tahoma;
}
.readPostImagePanel{
    float:left;
    width: 4%;
    /*    border: 1px;
        border-radius: 5px;
        border-color: #919191;*/

}
.postStatusPanel{
    width:100%;
    font-size: 12px;
    background-color: #FFFFFF;
}
.postMainPanel{
    float:right;
    width: 96%;
    background-color: #FFFFFF; 
}
.createPostTextArea{
    width: 100%;
    height: 20%;
    font-family: Tahoma;
    background-color: #ffffff; 
}
.postAttachmentsPanel{
    border: 1px solid black;
}
.showMoreL{
    width: 100%;
    background-color: #fafbfe;
    font-weight: bold;
    font-style: italic;
}
/*post css end*/
/*image field css start*/
.imageField-Image{
    background-image: url("../src/main/resources/images/home_btn.png");
}
/*image field css end*/
.y-gwt-treePanelComposite-Node
{
    cursor: pointer;
    font-family: Arial;
    font-size: 11pt;
    font-weight: 100;
}

.y-gwt-treePanelComposite-RootNode
{
    cursor: default;
    font-family: Arial;
    font-size: 13pt;
    font-weight: 300;
}

body{
    font-family:Tahoma;
    font-size: 11pt;
    cursor: default;
    background: #fafbfe;
}
/*.GIKIG2NBLI{
  border-color: #919191;  
}*/
/*Start For search textbox */
.searchComposite{
    /*background-color:#f7f7f7;*/
    background: url("../images/Search_bg.png");
}
/*End For search textbox */
/*//TODO move back to chili-gwt*/
/*chili-gwt start*/
.y-gwt-ClickableLink {
    color: #054c78;
    cursor: pointer;
    cursor: hand;
    font-family: helvetica, arial sans-serif;
    font-size: 11pt;
    font-style: bold;
    text-shadow: 0px 1px 1px #4d4d4d;

}
.y-gwt-ClickableLink:hover {
    color:#c31f41;
    font-size: 11.5pt;
    /*    font-weight: 300;*/

}

.y-gwt-AbstracttatusPanel {
    width:100%;
}

/* Logo Image*/
.y-gwt-AbstractStatusPanel-LogoImage {
    height:55px;
    width:180px;
}
.y-gwt-ResponseStatusBar {
    background-color: #FFA54F;
}

.y-gwt-LoginPanel {
    background-color: #88ACE0;
}

.y-gwt-ErrorMessage {
    font-size: 8pt;
    color: red;
}

.gwt-Button {
    font-size: 10pt;
    /*     background: url("../images/button_bg.png");*/
}

.gwt-SuggestBox {
    border: 1px solid #666;
    text-align: left;
}

.gwt-SuggestBoxPopup {
    text-align: left;
    cursor: pointer;
    cursor: hand;
    border: 1px solid #666;
    border-top: 0;
    background-color: #E8E8E8;
}

.gwt-SuggestBoxPopup .item {
    border: 1px dotted #aaa;
}

.gwt-SuggestBoxPopup .item-selected {
    background-color: #E8E8E8;
}

.y-gwt-SideBarComposite {
    border: 2px solid #88ACE0;
    width: 240px;
}

.y-gwt-OptionsComposite {
    border: 2px solid #88ACE0;
}

.y-gwt-SearchDisclosurePanel {
    border: 1px solid #88ACE0;
    background-color: #E5E5E5;
    width: 100%;
}


.y-gwt-Spacing{
    padding: 4px;
}
.y-gwt-FindWidget-Panel{

}
.y-gwt-FindWidget-TextBox {

}
.y-gwt-FindWidget-Button {

}

.entityTitlePanel {
    border-bottom-color: #bc033d;
    border-bottom-width: 1px;
    background-color: #83acff;
    background: url("../images/menubar_bg.png");


}
.readPostOptionsPanel
{
    background-color: #919191;
}

.gwt-DisclosurePanel-open .header TD {
    color: #Green;

}

/*.y-gwt-CreateEntityCaptionPanel{
    color: #bc033d;
}

*//*.y-gwt-CreateEntityDisplayWidget{
    
   color: #000000;
}*//*

.y-gwt-CreateBasePanel{
    
    color: #bc033d;
}*/
/*fieldset {
    color: green;
}*/

/*chili=gwt-end*/

.loginB{
    color: 054c78;
}

.genericPopup {

    background-color: #EDEDED;
    border: 3px solid #054c78;
    padding: 3px;
}

/*.y-gwt-CreateEntityCaptionPanel {
    color:#c31f41;
}*/

/*.readAllCompositeCP{
    color: #ff00ea;
}*/